
/*HEADER*/
header{
		padding:20px 10px;
		background-color:#ccccb3;
		
		
}
a:hover{
	color:#99ffdd;
}

.meny{/*mina menyer i headern*/
	display: inline;
	padding-left:20px;
	margin-top: 20px;
	color: black;
	text-shadow:2px 2px 3px #ffffff;
}
header img{
width: 350px;
float: left;
}
/*ARTICLE*/

body{
	color:#000000;
	background-image:url("../bilder/bakgrund.PNG");
	}

img{
	opacity: 0.8;
}
.cta{/*Min cta knapp som tar mig till våra boxar*/
	background-color:#99ffdd;
	height:50px;
	width:150px;
	border-radius:35%;
	border: none;
}

.one{/*min stora artikel*/
	background-image: url("../bilder/barn.png");
	background-position: left-side;
	background-repeat: no-repeat;
	text-align:center;
	height:430px;
	padding-left:350px;
	padding-top:30px;
}
form{
	float:right;
	padding-top:40px;
}


/*FOOTER*/

#socialam{/*sociala medier bilder med länk i*/
	float: right;
	padding-top:10px;
}
footer{
	background-color:#ccccb3;
	height: 90px;
	color: black;
}
#fottext{
	color:black;
}